@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --dsc-color-bg-primary: #e8e8e8;
    --dsc-color-bg-secundary: #ffe500;
    --dsc-color-bg-tertiary: #636363;
    
    --dsc-color-card-bg: #FFF;
    --dsc-color-card-border: #d9d9d9;

    --dsc-color-btn-primary: #3483fa;
    --dsc-color-btn-inverse: #FFF;

    --dsc-color-font-primary: #636363;
    --dsc-color-font-secundary: #0caf1d;
    --dsc-color-font-tertiary: #fff;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

html, body {
    background-color: var(--dsc-color-bg-primary);
}

main {
    padding: 0 20px;
}

/*--------------------------------------*/
/* generics styles */

.dsc-container {
    width: 100%;
    max-width: 960px;
    margin: auto;
}

.dsc-mb20 {
    margin-bottom: 20px;
}

/*--------------------------------------*/
/* header styles */

header {
    background-color: var(--dsc-color-bg-secundary);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

nav {
    color: var(--dsc-color-font-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    font-size: 14px;
    font-weight: 700;
}

nav h1 {
    font-size: 24px;
}

.dsc-container {
    width: 100%;
    max-width: 960px;
    margin: auto;
}

/*--------------------------------------*/
/* card styles */

.dsc-card {
    margin-bottom: 20px;
    border: 1px solid var(--dsc-color-card-border);
    border-radius: 4px;
    background-color: var(--dsc-color-card-bg);
}

.dsc-line-bottom {
    border-bottom: 1px solid var(--dsc-color-card-border);
}

/*--------------------------------------*/
/* button styles */

.dsc-btn {
    border-radius: 4px;
    height: 42px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dsc-btn-page-container {
    width: 100%;
    display: grid;
    gap: 20px;
}

@media(min-width: 576px) {
    .dsc-btn-page-container {
        width: 220px;
    }
}

.dsc-btn-blue {
    background-color: var(--dsc-color-btn-primary);
    color: var(--dsc-color-btn-inverse);
}

.dsc-btn-white {
    background-color: var(--dsc-color-btn-inverse);
    color: var(--dsc-color-btn-primary);
    border: 1px solid var(--dsc-color-btn-primary);
}